body {
    background-image: url("arch_anime.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #f0f0f0;
    font-family: 'Courier New', monospace;
    color: #0f0;
    font-weight: bold;
    font-size: 16px;
}

a, a:visited, a:hover {
    color: #0f0;
    text-decoration: none;
}
a:active {
    color: #0f0;
    text-decoration: none;
}

button {
    background-color: rgba(49, 48, 48, 0.8);
    color: #0f0;
    border: 3px solid #4d48e8;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0 10px #4d48e8;
}

.terminal-container {
    width: 90%;
    border: 5px solid #4d48e8;
    margin: 20px;
    padding: 20px;
    background-color: rgba(49, 48, 48, 0.8);
    backdrop-filter: blur(5px);
}

.terminal-header {
    align-items: center;
    margin-bottom: 10px;
    border: 3px solid #4d48e8;
    padding: 10px;
    background-color: rgba(49, 48, 48, 0.5);
}

.terminal-body {
    margin: 0;
    padding: 10px;
}

.terminal-cmd {
    margin: 0;
    padding: 10px;
    border: 3px solid #4d48e8;
    background-color: rgba(49, 48, 48, 0.5);
}

.terminal-prompt {
    background-color: #4d48e8;
    color: #0f0;
    font-weight: bold;
    margin-right: 5px;
}

.terminal-input {
    background-color: transparent;
    border: none;
    color: #0f0;
    font-weight: bold;
    width: 80%;
}

.terminal-input:focus {
    outline: none;
}

.info-col {
    width: 20%;
    padding: 10px;
    color: yellow;
}

.data-col {
    width: 70%;
    padding: 10px;
    color: #0f0;
    font-weight: bold;
}