body {
    background-image: url("arch_logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #f0f0f0;
    font-family: 'Courier New', monospace;
    color: #0f0;
    font-weight: bold;
    font-size: 16px;
}

h2 {
    text-align: center;
}

.terminal-body p {
    margin: 10px 0;
}

code {
    background-color: rgba(49, 48, 48, 0.5);
    padding: 2px 4px;
    border-radius: 3px;
    color: #0f0;
}

.terminal-header a, a:visited, a:active {
    padding: 5px;
    border: 3px solid #4d48e8;
    border-radius: 5px;
    color: #0f0;
    text-decoration: none;
}

a:hover {
    box-shadow: 0 0 10px #4d48e8;
}

.terminal-container {
    width: 90%;
    border: 5px solid #4d48e8;
    border-radius: 35px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(49, 48, 48, 0.8);
    backdrop-filter: blur(5px);
}

.terminal-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    border: 3px solid #4d48e8;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    background-color: rgba(49, 48, 48, 0.5);
}

.terminal-body {
    margin: 0;
    padding: 10px;
}

.terminal-cmd {
    margin: 0;
    padding: 10px;
    border: 3px solid #4d48e8;
    border-radius: 0 0 15px 15px;
    background-color: rgba(49, 48, 48, 0.5);
}

.terminal-prompt {
    background-color: #4d48e8;
    color: #0f0;
    font-weight: bold;
    margin-right: 5px;
}

.terminal-input {
    background-color: transparent;
    border: none;
    color: #0f0;
    font-weight: bold;
    width: 80%;
}

.terminal-input:focus {
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th {
    color: yellow;
}
th, td {
    width: 25%;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}
tr:hover {
    background-color: rgba(49, 48, 48, 0.5);
    border: 1px solid #4d48e8;
    border-radius: 5px;
}

.info-col {
    width: 20%;
    padding: 10px;
    text-align: right;
    color: yellow;
}

.data-col {
    width: 80%;
    padding: 10px;
    text-align: left;
    color: #0f0;
    font-weight: bold;
}