{%extends "base.html" %}

{% block title %}About Me | YerdosNar{% endblock %}

{% block content %}
<h2>About Me</h2>
<table>
    <tr>
        <td class="info-col">Name:</td>
        <td class="data-col">Yerdos Narzhigitov</td>
    </tr>
    <tr>
        <td class="info-col">University:</td>
        <td class="data-col">Kangwon National University</td>
    </tr>
    <tr>
        <td class="info-col">Major:</td>
        <td class="data-col">Computer Science and Engineering (2023-2027)</td>
    </tr>
    <tr>
        <td class="info-col">Interest:</td>
        <td class="data-col">Low-Level programming, UNIX-like OS, networking, security.</td>
    </tr>
    <tr>
        <td class="info-col">Programming languages:</td>
        <td class="data-col">C, Java, Bash, Python.</td>
    </tr>
    <tr>
        <td class="info-col">Human languages:</td>
        <td class="data-col">English, Korean, Russian, Kazakh, Uzbek.</td>
    </tr>
    <tr>
        <td class="info-col">Tools:</td>
        <td class="data-col">Git, make, ASan (Address Sanitizer), GDB.</td>
    </tr>
</table>
<p>To view certificates, please run <code>cd certs/</code> or click <a href="/AboutMe/certs"
    style="color: yellow;">certs/</a>.
</p>
{% endblock %}