{% extends "base.html" %}

{% block title %}Projects | YerdosNar{% endblock %}

{% block content %}
<h2>Projects</h2>
<p>Here are some of the projects I have worked on:</p>
<table>
        <thead>
                <tr>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Language</th>
                        <th>Technologies Used</th>
                </tr>
        </thead>
        <tbody>
                <tr onclick="window.open('https://github.com/YerdosNar/p2p', '_blank');" style="cursor: pointer;">
                        <td>OpenP2P</td>
                        <td>A Peer-To-Peer terminal application for messaging and file transfer.
                                All traffic is End-to-End encrypted using LibSodium.
                        </td>
                        <td>C11</td>
                        <td>POSIX threads, LibSodium, Makefile, ASAN</td>
                </tr>
                <tr onclick="window.open('https://github.com/YerdosNar/3x-ui-auto', '_blank');"
                    style="cursor: pointer;">
                        <td>3X-UI Auto</td>
                        <td>A bash script to automate the installation of 3X-UI panel
                                on a Ubuntu server. It installs all the required dependencies
                                and configures the server for optimal performance.
                        </td>
                        <td>Bash</td>
                        <td>Bash, Ubuntu, Docker, Caddy</td>
                </tr>
                <tr onclick="window.open('https://github.com/YerdosNar/png', '_blank');" style="cursor: pointer;">
                        <td>PNG</td>
                        <td>A terminal application to read throught the PNG file.
                                It can find, inject, and remove hidden chunks.
                                It uses convolution with different kernel to detect edges
                                (Sobel, Laplacian, Gaussian, etc.)
                        </td>
                        <td>C11</td>
                        <td>Makefile, zLib (for compression and decompression)</td>
                </tr>
                <tr onclick="window.open('https://github.com/YerdosNar/digitNN', '_blank');"
                    style="cursor: pointer;">
                        <td>DigitNN</td>
                        <td>A neural network implementation to recognize handwritten digits from the MNIST dataset.
                                It uses a simple feedforward neural network with backpropagation algorithm.
                        </td>
                        <td>C11</td>
                        <td>Makefile, SDL2</td>
                </tr>
        </tbody>
</table>
{% endblock %}
